<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Income</title>
  <script src=https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4></script>
</head>

<body class="bg-zinc-900 text-white">
  <section class="min-h-screen flex items-center justify-center px-4 py-12">
    <div
      class="max-w-6xl w-full grid grid-cols-1 md:grid-cols-2 gap-10 items-center border-2 border-zinc-800 p-8 rounded-lg shadow-lg">


      <div>
        <h1 class="text-3xl md:text-4xl font-bold mb-6 leading-tight">
          Login to securely manage your Income, Expenses, Work Reports and Payouts.
        </h1>
        <a href="/login"
          class="inline-block bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded-lg text-lg font-medium transition duration-200">
          Login
        </a>
      </div>


      <div class="flex justify-center">
        <img
          src="https://thumbs.dreamstime.com/b/work-payment-salary-payroll-annual-bonus-income-payout-paper-calculator-people-vector-concept-set-flat-modern-324863253.jpg"
      </div>

    </div>
  </section>
</body>

</html>